<html>
	<head>
		<title>Neuer Artikel</title>
	</head>
	<body>
		<form action="/onNeuerArtikel" method="POST">
			Name: <input type="text"  name="artikelName"> <br>
			Preis: <input type="text" name="artikelPreis"> <br>
			<button type="submit">neuen Artikel hinzufügen</button>
		</form>
	</body>
</html>