<!DOCTYPE html>
<html>
    <head>
        <title><%= studiname %></title>
    </head>
    <body>
        Name: <%= studiname %> <br>
        Studiengang: <%= studiengang %><br>
        Semester: <%= semester %><br>
        <a href="/">zurück</a>
    </body>
</html>