<!DOCTYPE html> 
<html> 
    <head> 
        <title>Multiplikationstabelle</title>
    </head>
    <body>
        <form action="tabelle" method="post">
			<input type="number" name="rows"> Reihen <br>
			<input type="number" name="columns"> Spalten <br>
			
			<input type="submit" value="Anzeigen">
		</form>
        
    </body> 
</html>