<!DOCTYPE html> 
<html> 
    <head> 
        <title>Bitrate</title>
    </head>
    <body>
        <form action="berechnen" method="post">
			<input type="number" name="bitrate"> Bitrate(kBit/sec) <br>
			<input type="number" name="dauer"> Dauer (sec) <br>
			
			<input type="submit" value="Berechnen">
		</form>
        
    </body> 
</html>