<!DOCTYPE HTML>
<html>
	<head>
		<title>Sessions</title>
	</head>
	<body>
		<h1><%= message%></h1><br>
		<a href="/sessionSetzen">Sessionvariable setzen</a><br>
		<a href="/sessionLoeschen">Sessionvariable löschen</a>
	</body>
</html>