<!DOCTYPE HTML>
<html>
	<head>
		<title>Login</title>
	</head>

	<body>
		<form action="anmelden" method="post">
			Benutzername: <input type="text" name="user"> <br>
			Passwort: <input type="password" name="password"> <br>
			
			<input type="submit" value="anmelden" name="submit">
		</form>
	</body>
</html>