<!DOCTYPE html>
<html>
    <head>
        <title><%= studi.name %></title>
    </head>
    <body>
        Name: <%= studi.name %> <br>
        Studiengang: <%= studi.studiengang %><br>
        Semester: <%= studi.semester %><br>
        <a href="/alleStudisZeigen">zurück</a>
    </body>
</html>